@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

.container {
  width: 311px;
  height: 724px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 24px;
}

.intro h1 {
  font-size: 18px;
  color: var(--cyan);
  margin: 20px 0;
}

.intro p {
  color: var(--bright-yellow);
  width: 286px;
  margin-bottom: 20px;
  font-size: 15px;
}

.intro p:last-child {
  color: var(--grayish-blue);
  line-height: 28px;
  font-weight: 400;
  width: 267px;
  font-size: 13px;
}

.intro {
  background-color: #fff;
  height: 268px;
}

.subscription {
  background-color: var(--cyan);
  color: var(--white);
  height: 228px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 24px;
}

.subscription h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.price span:first-child {
  font-size: 30px;
  margin-right: 15px;
}

.price span:last-child {
  color: var(--light-gray);
}

.subscription p {
  font-size: 15px;
  margin-bottom: 30px;
}

.subscription button {
  width: 263px;
  height: 48px;
  background-color: var(--bright-yellow);
  border: 0;
  border-radius: 5px;
  color: var(--white);
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.benefit {
  height: 228px;
  background-color: var(--cyan);
  opacity: 80%;
  color: var(--white);
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefit h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.benefit ul {
  list-style: none;
  padding-left: 0;
  font-size: 13px;
  color: var(--light-gray);
}

.benefit li {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 635px;
    height: 475px;
  }

  .intro {
    height: 216px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    grid-template-rows: 93px 17px 77px;
  }

  .intro h1 {
    margin: 0;
    font-size: 23px;
    padding-top: 16px;
  }

  .intro p {
    width: 365px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700;
  }

  .intro p:last-child {
    width: 500px;
    font-size: 15px;
  }

  .subscription {
    height: 259px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 0;
    grid-template-rows: 71px 52px 49px;
  }

  .subscription h2 {
    padding-top: 40px;
    margin-bottom: 0;
    font-weight: 700;
  }

  .subscription button {
    width: 240px;
  }

  .price {
    margin-bottom: 0;
  }

  .price span:first-child {
    font-size: 33px;
  }

  .subscription p {
    margin-bottom: 0;
  }

  .benefit {
    height: 259px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 40px;
    justify-content: start;
    grid-template-rows: 82px 52px;
  }

  .benefit h2 {
    padding-top: 40px;
    margin-bottom: 0;
    font-weight: 700;
  }
}